.App header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0.5rem 1rem;
}

.content {
    text-align: left;
    display: inline-block;
    background-color: #ffffff;
    width: 100%;
    max-width: 1232px;
    padding: 16px;
    box-sizing: border-box;
}

.url-cards-container {
    width: 500px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.add-container {
    width: 1000px;
    display: flex;
    margin-bottom: 30px;
}

.add-container button {
    margin: 3px 10px;
}

.add-container div {
    margin: 3px 10px 3px 0;
}

.add-container input {
    margin: 3px 10px 10px 0;
}

.blue-button {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 5px 2px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
}

.blue-button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.blue-button:focus {
    user-select: auto;
}

.blue-button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.blue-button:disabled {
    cursor: auto;
}
