.card {
    height: 130px;
    width: 150px;
    padding: 0;
    background-color: #FFF;
    -webkit-filter: drop-shadow(0px 0px 5px #666);
    filter: drop-shadow(0px 0px 5px #666);
    text-overflow: ellipsis;
    margin: 20px;
}

.url-name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 5px 5px 10px;
    font-size: 1.3rem;
    margin: 0;
    background: #49abff;
    cursor: pointer;

}

.url-path {
    font-size: 10px;
    width: 150px;
    word-break: break-all;
    max-height: 30px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.url-creation-time {
    font-size: 10px;
}

.card-delete:hover {
    background-color: #00BFFFFF;
}

.card-delete {
    padding: 5px;
    background-color: #DB7093FF;
    cursor: pointer;
}

.card-header {
    display: flex;
}

.url-status {
    text-align: center;
    padding: 0 15px 5px 15px;
}
